@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-red: #fc4246;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  height: 80vh;
  background-image: linear-gradient(to right, rgba(0,0,0,.533), rgba(0,0,0,.533)), url('../../src/img/slider/local1.jpeg');
}

.skewed {
  clip-path: polygon(0 0, 100% 0%, 100% calc(95% - 15vmin), 0% 90%);
  margin-bottom: -15vmin;
}

.nav-is-fixed nav {
  position: fixed;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.3));
}

.nav-btn {
  border-color: var(--main-red);
}

.nav-btn.is-active span:nth-child(2) {
  opacity: 0;
}

.nav-btn.is-active span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.nav-btn.is-active span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

.nav__menu a::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  height: .25rem;
  width: 0%;
  border-radius: 5px;
  background-color: var(--main-red);
  transition: width .2s ease-in-out;
}

.nav__menu a:hover::before {
  width: 50%;
}

.flickity-button {
  background-color: transparent;
}

.flickity-button-icon {
  fill: white;
}

